*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #f6f6f6; }

html {
  font-size: 62.5%; }

.primary__header {
  font-size: 6.3rem;
  text-decoration: none;
  font-weight: 100; }

.section__header-1 {
  color: white;
  margin-top: 13rem; }

.section__header-2 {
  text-decoration: none;
  padding-left: -3rem;
  color: #d5a12b;
  font-weight: 400; }

.section__header-3 {
  font-size: 2.2rem;
  text-align: left; }

.steam {
  color: #3b1606; }

.primary__secondary {
  font-size: 2.7rem;
  text-decoration: none;
  font-weight: 200; }

.u-margin-top {
  margin-top: 12rem; }

.u-margin-btm {
  margin-bottom: 4rem; }

.small-margin-top {
  margin-top: 4rem; }

.u-center {
  text-align: center; }

.psize-nor {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: left;
  padding-right: 2rem; }

@media (max-width: 1278px) {
  .nav {
    width: 100%; } }

.nav {
  background-image: linear-gradient(to right bottom, #d5a12b, rgba(213, 161, 43, 0.9));
  overflow: hidden;
  width: 100%; }

li {
  float: left;
  margin: 1.6rem;
  list-style-type: none; }
  li:nth-of-type(6), li:nth-of-type(7) {
    float: right; }

li a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #ffff; }

.section__header--img {
  position: relative;
  height: 85vh;
  background-image: url(/img/Topsteam/header.jpg);
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.section__header--content {
  position: absolute;
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.main .section__info {
  display: grid;
  grid-template-rows: repeat(3, 44.2rem);
  grid-template-columns: repeat(2, 68.2rem) repeat(auto-fit, minmax(250px, 68.2rem));
  justify-content: center;
  align-items: stretch; }
  .main .section__info .img-1 {
    max-width: 60rem;
    height: 44rem;
    margin-left: 3rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-image: url("/img/Topsteam/pexels-artem-podrez-8985963.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10; }
  .main .section__info .img-2 {
    grid-row: 2/ 3;
    grid-column: 2 / -1;
    max-width: 60rem;
    height: 44rem;
    margin-left: 3rem;
    background-image: url("/img/Topsteam/pexels-andrea-piacquadio-3807811.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .main .section__info .img-3 {
    grid-row: 3/ -1;
    grid-column: 1 / 2;
    max-width: 60rem;
    height: 44rem;
    margin-left: 3rem;
    background-image: url("/img/Topsteam/pexels-daniel-andraski-13065690.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .main .section__info .content-1 {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    margin: 0 auto;
    text-align: left;
    padding: 3rem; }
  .main .section__info .content-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 0 auto;
    text-align: left;
    padding: 3rem; }
  .main .section__info .content-3 {
    grid-row: 3 / -1;
    grid-column: 2 / -1;
    margin: 0 auto;
    text-align: left;
    padding: 3rem; }

.main .services__content {
  display: flex;
  justify-content: space-around;
  align-items: center; }

@media (max-width: 790px) {
  * {
    border: 1px solid red; } }

.hamline {
  background-image: linear-gradient(to right bottom, #d5a12b, rgba(213, 161, 43, 0.9));
  overflow: hidden;
  width: 100%; }
  .hamline .hamline__nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hamline .hamline__nav--left {
      padding: 2rem; }
      .hamline .hamline__nav--left .logo {
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        color: #ffff; }
    .hamline .hamline__nav--middle {
      display: flex;
      justify-content: space-around;
      color: red;
      width: 55%; }
      .hamline .hamline__nav--middle-item {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 300; }
    .hamline .hamline__nav--right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 20%; }
      .hamline .hamline__nav--right .btn {
        margin-right: 1rem; }

.section__footer {
  margin-top: 2rem;
  min-height: 28rem;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .section__footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .section__footer .footer .footer__heading {
      text-decoration: none;
      font-weight: 400;
      font-size: 2.4rem;
      color: white; }
    .section__footer .footer [class^="footer__item-"] {
      list-style: none;
      margin: 0;
      padding-left: 8rem;
      text-decoration: none;
      font-weight: 200;
      text-size-adjust: 1.8rem; }
    .section__footer .footer [href="#"] {
      margin: 0;
      text-decoration: none;
      font-weight: 200;
      font-size: 1.8rem;
      color: white; }

.section__services-info {
  max-width: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 8rem 6rem; }
  .section__services-info .services__info {
    display: flex;
    align-items: center; }
    .section__services-info .services__info [class^="services__info--"]:not(:last-child) {
      border-right: 1px solid black; }
    .section__services-info .services__info [class^="services__info--"]:not(:first-child) {
      padding-left: 2rem; }

.btn {
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  border-radius: 11%;
  padding: .2em; }

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  margin-top: 1.3rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffff; }

.btn__car {
  border: solid white;
  padding: 1.3em 5.3em 1.3em 1.3em;
  margin-right: 0; }

.btn__model {
  border: solid white;
  padding: 1.3em 5.3em 1.3em 1.3em;
  margin-left: -5px; }

.btn__search {
  border: solid white;
  padding: 1.3em 5.3em 1.3em 1.3em;
  border-radius: 0em 2.3em 2.3em 0em;
  margin-left: -5px; }

.section__box {
  background-color: black;
  height: 20rem;
  width: 100%;
  position: relative; }
  .section__box--1 {
    background-color: aliceblue;
    height: 35rem;
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%); }
  .section__box--2 {
    background-color: aliceblue;
    height: 35rem;
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); }
  .section__box--3 {
    background-color: aliceblue;
    height: 35rem;
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%); }

.boxes {
  background-color: aqua;
  min-width: 30rem;
  min-height: 25rem;
  margin-top: -12rem;
  margin-bottom: 2rem;
  z-index: 2;
  overflow: hidden;
  text-align: center; }
  .boxes__img {
    margin-top: 8rem; }
  .boxes__text {
    margin-top: 3rem;
    font-size: 1.2rem; }

.boxes__icon {
  font-size: 5rem; }

.services__content {
  max-height: 60rem;
  padding: 8rem; }
  .services__content--img {
    max-width: 38rem;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .services__content--img-1 {
      height: 25rem; }
    .services__content--img-p {
      text-align: center;
      font-size: 2.4rem; }

.section__services--info {
  max-width: 90%; }
