.services__content{
    
   
   
    max-height: 60rem;
    padding: 8rem;
    &--img{
       
        max-width: 38rem;
      
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
        &-1{
            height: 25rem;
            
        }
       
        &-p{
            
            text-align: center;
            font-size: 2.4rem;
            
        }

    }
}



.section__services--info{
    max-width: 90%;
    
    

}